<template name="Post">
{{#with post}}
  <h2> {{title}} </h2>

  {{> PostContent}}
  
  <div class="comments">
    {{> Comments parent=_id root=_id }}
  </div>
{{/with}}
</template>

<template name="PostContent">
<div class="contentWrapper {{isEditClass}}">

  {{#if isEdit}}
  <textarea name="edit" rows="8" cols="40">{{ data }}</textarea>
  {{#if isCode}}
    <label for="code">Code:</label>
    {{> CodeEditor }}
  {{else}}
    <div class="left-interactions">
      <a href="#" class="btn-code" data-target="{{_id}}"> <i class="fa fa-code"></i></a>
    </div>
  {{/if}}
  <div class="interactions">
    <a href="#" class="cancel edit" data-target="{{_id}}"> <i class="fa fa-times"></i></a>
    <a href="#" class="submit edit" data-target="{{_id}}"> <i class="fa fa-check"></i></a>
  </div>
  {{else}}
  <div class="markdownWrapper">
{{#markdown}}
{{getData}}
{{/markdown}}
  </div>
  <div class="codeWrapper">
  {{#each getCode}}
    <span class="label label-{{getExprClass}}">{{getExpr}}</span>
  {{/each}}
  </div>
  <div class="interactions">
    <a href="#" class="btn-comment" data-target="{{_id}}"> <i class="fa fa-reply"></i></a>
    {{#if userOwn}}
    <a href="#" class="btn-edit" data-target="{{_id}}"> <i class="fa fa-pencil"></i></a>
    {{/if}}
  </div>
  {{/if}}

</div>

{{> Stats}}

{{#if isComment}}
<div class="commentWrapper">
  <textarea name="comment" rows="8" cols="40"></textarea>
  {{> CodeEditor data=null}}
  <div class="interactions">
    <a href="#" class="cancel comment" data-target="{{_id}}"> <i class="fa fa-times"></i></a>
    <a href="#" class="submit comment" data-target="{{_id}}"> <i class="fa fa-check"></i></a>
  </div>
</div>
{{/if}}

</template>

<template name="Comments">
<ul class="comments">
  {{#each getComments}}
  <li>
  <div class="scoreWrapper">
    {{> Score}}
  </div>
  {{> PostContent}}
  
  <div>
  </div>
  {{#if hasComments}}
    {{> Comments parent=_id}}
  {{/if}}
  </li>
  {{/each}}
</ul>
</template>

<template name="CodeEditor">
 <div class="codeEditorWrapper"></div>
</template>
